<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>NODE JS Seminar1</title>
</head>

<body>
    <nav class="header" style="margin: 0 auto; width: 80vw; display: flex; justify-content: space-between; align-items: center; background: red;">
        <div class="empty" style=" background: blue;"></div>
        <nav style="margin: 5px; display: flex; gap:10px;justify-content: center; align-items: center; background: red;">
            <nav class="menu" style="background: green; padding:5px"><a style="text-decoration:none;color:white;" href="/other">Other</a></nav>
            <nav class="menu" style="background: green; padding: 5px"><a style="text-decoration:none;color:white;" href="/">Home</a></nav>
        </nav>
    </nav>
    <div class="cnt_block" style="margin: 0 auto; width: 80vw; display: flex; justify-content: center; align-items: center; background: yellow; font-size:80px;color:red;"></div>
    <script>
        async function getUserData() {
            const response = await fetch("http://localhost:3000/aboutcnt");
            console.log(response.status);
            if (response.ok) {
                var res = await response.text();
                console.log(res);
                document.querySelector('.cnt_block').innerHTML = res;
            } else {
                console.log("error");
            }
            console.log(res);
        }
        getUserData();
    </script>


</body>

</html>