<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NODE JS Seminar1</title>
</head>

<body>
    <nav class="header" style="margin: 0 auto; width: 80vw; display: flex; justify-content: space-between; align-items: center; background: red;">
        <div class="empty" style=" background: blue;"></div>
        <nav style="margin: 5px; display: flex; gap:10px;justify-content: center; align-items: center; background: red;">
            <nav class="menu" style="background: green; padding:5px"><a style="text-decoration:none;color:white;" href="/about">About</a></nav>
            <nav class="menu" style="background: green; padding: 5px"><a style="text-decoration:none;color:white;" href="/">Home</a></nav>
        </nav>
    </nav>
    <p style="font-size:80px;text-align:center;">I am other</p>
</body>

</html>
